.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-color-rec: var(--accent-color);
  --bg-image: url('../images/cover-image-dark.png');
  --title-decor-color: var(--bg-color);
  --content-title-color: var(--accent-color);
  --accent-color-hover-theme-button: rgba(255, 0, 112, 0.4);
  --theme-button-color: var(--accent-color);
  --decor-color: var(--theme-button-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --header-title-color: #db00ff;
    --accent-color: #ff0070;
    --accent-color-rec: var(--accent-color);
    --bg-image: url('../images/cover-image-dark.png');
    --title-decor-color: var(--bg-color);
    --content-title-color: var(--accent-color);
    --accent-color-hover-theme-button: rgba(255, 0, 112, 0.4);
    --theme-button-color: var(--accent-color);
    --decor-color: var(--theme-button-color);
  }
}
